<!DOCTYPE html>
<html lang="en"></html>
<html lang="en" xmnls="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"></meta>
    <meta name="format-detection" content="telephone=no"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<title>流程详情</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/dropload.css"></link>
</head>
<body>
	<div id="app">
		<!-- <header class="header cleanF">
	        <h3 class="">流程详情</h3>   
	    </header> -->
		<div class="container paddinTop">
	      <div class="examine">
            <div class="examine-content">
            <div class="examine-img"><img src="images/examine.png"/></div>
              <div class="examine-info">
                 <h3 class="examine-title">{{digital.flowname}}</h3>
                 <ul class="examine-node">
                  <li><span>发起部门：</span>{{digital.dptname}}</li>
                  <li><span>发 起 人：</span>{{digital.starter}}</li>
                  <li><span>发起时间：</span>{{digital.starttime}}</li>
                  <li><span>流程名称：</span>{{digital.processname}}</li>
                 </ul>
              </div>  
            </div>
            <div class="examine-list">
                 <h3 class="examine-item"  v-on:click="showDiv($event)">更多信息<span v-bind="{class:showDom?'fr more-open':'fr more-close'}"></span></h3>
                 <ul class="examine-details" v-show="showDom" style="display: none">
                    <li>流程标题<span class="fr">{{dates.flowname}}</span></li>
                    <li>流程名称<span class="fr">{{dates.processname}}</span></li>
                    <li>发起时间<span class="fr">{{dates.starttime}}</span></li>
                    <li v-for="(val,key) in ObjInfo">{{key}}<span class="fr">{{val}}</span></li>
                    <div class="tems">
                    	<ul>
                    		 <li v-for="(val,key) in temes"><a :href="'http://10.72.8.130:7004'+val" class="tems">附件：{{key}}</a>	</li>
                    	</ul>
            	 	</div>
                 </ul>
                
                 <p class="space"></p>
                 <!-- <h3 class="examine-item">历史审批记录</h3> -->
                 <h3 class="examine-item" v-on:click="showNode($event)">历史审批记录<span v-bind="{class:showHis?'fr more-open':'fr more-close'}"></span></h3>
                 <div id="history" v-show="showHis">
	                 <ul class="examine-history">
	                     <li class="history" v-for="msg in histry">
	                    	<h3 class="history-title">{{msg.nodename}}<i class="principal">{{msg.approveuser}}</i><span class="fr">{{msg.approvetime}}</span></h3>
	                    	<div class="history-describe">
	                      		{{msg.remark}}
	                    	</div>
	                    	<div class="history-enclosure">
	                         	<ul>
		                    		 <li v-for="(val,key) in annex"><a :href="'http://10.72.8.130:7004'+val" class="tems">附件：{{key}}</a>	</li>
		                    	</ul>
	                    	</div>
                   		</li>
	                 </ul>	
                 </div>
                 <p class="space"></p>
                 <h3 class="examine-item">处理<span class="fr" v-on:click="showTip">···</span><span class="status-text fr">{{status}}</span></h3>
                 <h3 class="examine-item person-item" style="display:none" v-on:click="showUser">
                 	人员选择<span class="fr">···</span><span class="status-text personUser fr"></span>
                 	<div class="xuanz"><p class="perName" v-for="v in personStr">{{v}}</p></div>
                 </h3>
            	 
            </div>
          </div>
          <p class="space"></p>
          <div class="search-container">
          	   <div class="langeUse"><span class="handle">处理意见</span><span class="often" v-on:click="lane()">选择常用语</span></div>
               <textarea class="examine-opinion" placeholder="请填写处理意见" id="sele"></textarea>
          	   <input class="search-button" v-on:click="submit()" type="submit" value="提交" />
            </div>
          <br/>
        </div>
        <!-- ICON -->
        <div class="layui-m-layer layui-m-layer1" v-show="showLayer" style="display:none">
          <div class="layui-m-layershade" v-on:click="hideDiv"></div>
          <div class="layui-m-layermain">
            <div class="layui-m-layersection">
              <div class="layui-m-layerchild">
                <div class="layui-m-layercont">
                  <div class="handle-status clearfix">
                    <div v-for="item in list" class="status-icon" :class="{active: activeName ==item.name}" v-on:click="showIcon(item)"><p><span v-bind:class="item.name|showTubiao"></span></p><p>{{item.name}}</p></div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 选择人 -->
          <div class="layui-m-layer" v-show="showuser" style="display:none">
          <div class="layui-m-layershade" v-on:click="showUser()"></div>
          <div class="layui-m-layermain">
            <div class="layui-m-layersection">
              <div class="layui-m-layerchild layui-m-layer2">
                <div class="layui-m-layercont">
                  <div class="handle-status clearfix">
                  	<div class="mark">
					<header class="item-mark">
			          <h3 class="appro">选择处理人</h3>
			          <a href="javascript:void(0)" class="icon right">
			          	<button class="btn" v-on:click="showok()">确定</button>
			          </a>
			      	</header>
			      	<div class="content">
			      		<ul>
			      			<li v-for="name in person"><span>{{name.username}}</span></li>
			      		</ul>
			      	</div>
					</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
	</div>
	<script type="text/javascript" src="js/lib/vue.min.js"></script>
	<script type="text/javascript" src="js/lib/axios.min.js"></script>
	<script type="text/javascript" src="js/lib/layer.js"></script>
	<script type="text/javascript" src="js/lib/home.js"></script>	
	<script	type="text/javascript" src="js/lib/cookies.js"></script>
	<script type="text/javascript" src="js/lib/iscroll.js"></script>
	<script type="text/javascript" src="js/lib/dropload.js"></script>
	<script type="text/javascript" src="js/examine.js"></script>
</body>
</html>