<!DOCTYPE html>
<html lang="en"></html>
<html lang="en" xmnls="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"></meta>
    <meta name="format-detection" content="telephone=no"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
  <title>移动审批</title>
  <link rel="stylesheet" type="text/css" href="./css/index.css" />
</head>
<body>
  <div id="app" class="root">
    <!-- <header class="header cleanF">
        <span class="back"></span>
        <h3 class="indexHead">移动审批</h3>   
    </header> -->
    <div class="container paddinTop">
        <div class="banner">
           <img src="images/banner.png" alt="移动审批"/>
        </div>
    </div>
  <div class="container">
      <div class="menu-box clearfix">
         <div class="menu-item" v-on:click.stop="agency()">
             <p class="menu-icon"><span class="agency"><img src="images/first.png"/></span><em class="Inumber" v-html="number"></em></p>
             <p>待办任务</p>
         </div>
         <div class="menu-item" v-on:click.stop="follow()">
             <p class="menu-icon"><span class="follow"><img src="images/second.png"/></span></p>
             <p>待阅流程</p>
         </div>
         <div class="menu-item" v-on:click.stop="message()">
             <p class="menu-icon"><span class="message"><img src="images/third.png"/></span></p>
             <p>消息提醒</p>
         </div>
         <!--<div class="menu-item" v-on:click.stop="project()">-->
             <!--<p class="menu-icon"><span class="project"><img src="images/fourth.png"/></span></p>-->
             <!--<p>项目查询</p>-->
         <!--</div>-->
         <div class="menu-item" v-on:click.stop="search()">
             <p class="menu-icon"><span class="distance"><img src="images/fiveth.png"/></span></p>
             <p>流程查询</p>
         </div>
         <!--<div class="menu-item last">-->
         <!--</div>-->
      </div>
	  <div class="loading" v-show="loading"><img src="images/loading.gif" alt="loading..."/></div>
  </div>
    </div>
    
    <script src="http://doudou.hnagroup.com:8080/File/Scripts/sso.min.js"></script>
  <script type="text/javascript" src="./js/lib/vue.min.js"></script>
  <script type="text/javascript" src="./js/lib/axios.min.js"></script>
  <script type="text/javascript" src="./js/lib/layer.js"></script>
  <script type="text/javascript" src="./js/lib/cookies.js"></script>
  <script type="text/javascript" src="./js/index.js"></script>
  
</body>
</html>