<!DOCTYPE html>
<html lang="en"></html>
<html lang="en" xmnls="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"></meta>
    <meta name="format-detection" content="telephone=no"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<title>渤海信托</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css"></link>
	
	<link rel="stylesheet" type="text/css" href="/css/dropload.css"></link>
</head>
<body>
	<div id="app">
		<header class="header cleanF">
	        <a href="javascript:void(0)" onclick="JavaScript:history.back(-1);"><span class="back"></span></a>
	        <h3 class="approve">消息列表</h3>   
	    </header>
		<div class="container paddinTop" id="message">
		<div>
            <ul class="msg-list">
           		<li class="clearfix" v-for="(item,index) in dataes" v-on:click="add(index)">
                 	<div class="agency-right">
                   		<div class="right-box">
	                 		<h3 class="agency-title">{{item.title}}</h3>
	                 		<p>{{item.content}}</p>
	                 		<span class="time fr">{{item.sendDate}}</span>
                   		</div>
                	</div>
              	</li> 
           	</ul>
           	</div>	
		</div>
	</div>
	<script type="text/javascript" src="js/lib/vue.min.js"></script>
	<script type="text/javascript" src="js/lib/axios.min.js"></script>
  	<script	type="text/javascript" src="js/lib/cookies.js"></script>
	<script type="text/javascript" src="js/lib/layer.js"></script>
	<script type="text/javascript" src="js/lib/jquery.js"></script>
	<script type="text/javascript" src="js/lib/dropload.js"></script>
	<script type="text/javascript" src="js/message.js"></script>
</body>
</html>