<!DOCTYPE html>
<html lang="en"></html>
<html lang="en" xmnls="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"></meta>
    <meta name="format-detection" content="telephone=no"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<title>渤海信托</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css"></link>
</head>
<body>
	<div id="app">
		<header class="header cleanF">
	        <a href="javascript:void(0)" onclick="JavaScript:history.back(-1);"><span class="back"></span></a>
	        <h3 class="approve">项目详情</h3>   
	  </header>
		<div class="container paddinTop">
      <div class="project-detail">
       <h3 class="project-title">渤融2号_其他投资</h3>
       <ul class="project-content">
          <li>项目编号<span class="fr">2017030450606</span></li>
          <li>项目部门<span class="fr">信托融资部</span></li>
          <li>项目类型<span class="fr">集资</span></li>
          <li>项目收益<span class="fr">6.3%</span></li>
          <li>成立时间<span class="fr">2017-03-04</span></li>
          <li>结束时间<span class="fr">2017-10-04</span></li>
          <li>信托/投资规模（元）<span class="fr">201,70,304,506.06</span></li>
       </ul>
      </div>
    </div>    
	</div>
	<script type="text/javascript" src="js/lib/vue.min.js"></script>
	<script type="text/javascript" src="js/lib/layer.js"></script>
	<script type="text/javascript" src="js/home.js"></script>
</body>
</html>