<!DOCTYPE html>
<html lang="en"></html>
<html lang="en" xmnls="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"></meta>
    <meta name="format-detection" content="telephone=no"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<title>渤海信托</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css"></link>
</head>
<body>
	<div id="app">
		<header class="header cleanF">
	        <a href="javascript:void(0)" onclick="JavaScript:history.back(-1);"><span class="back"></span></a>
	        <h3 class="approve">项目详情</h3>   
	  </header>
		<div class="container paddinTop">
      <div class="project-detail">
       <h3 class="project-title">{{dataes.projectname}}</h3>
       <ul class="project-content">
          <li>项目编号<span class="fr">{{dataes.projectcode}}</span></li>
          <li>项目部门<span class="fr">{{dataes.dptname}}</span></li>
          <li>项目类型<span class="fr">{{dataes.projecttype}}</span></li>
          <li>项目收益<span class="fr"></span></li>
          <li>成立时间<span class="fr">{{dataes.setupdate}}</span></li>
          <li>结束时间<span class="fr">{{dataes.enddate}}</span></li>
          <li>信托/投资规模（元）<span class="fr">{{dataes.trustscale}}</span></li>
       </ul>
      </div>
    </div>    
	</div>
	<script type="text/javascript" src="js/lib/vue.min.js"></script>
	<script type="text/javascript" src="js/lib/axios.min.js"></script>
	<script	type="text/javascript" src="js/lib/cookies.js"></script>
	<script type="text/javascript" src="js/lib/layer.js"></script>
	<script type="text/javascript">
	new Vue({
		el:"#app",
		data:function(){
			return{
				dataes:[]
			}
		},
		created:function(){
			 var _this=this;
			 var user=getCookie('userid')
			 var code=localurl('projectcode')
			 console.log(user)
			 console.log(code)
			 axios.get("/project/getProjectDetail",{params:{userid:user,projectcode:code}}).then(function(response){
				  console.log(response.data)
				  //var stres=[];
				  //stres.push(response.data)
				  _this.dataes=response.data[0];
				  console.log(_this.dataes)
			 }).catch(function(error){
				  console.log(error);
			 });
		}
	})
	</script>
</body>
</html>