<!DOCTYPE html>
<html lang="en"></html>
<html lang="en" xmnls="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"></meta>
    <meta name="format-detection" content="telephone=no"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
	<title>流程详情</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css"></link>
	<link rel="stylesheet" type="text/css" href="/css/dropload.css"></link>
</head>
<body>
	<div id="app" v-cloak="true">
		<div class="container paddinTop">
			<div class="examine-content">
            <div class="examine-img"><img src="images/examine.png"/></div>
              <div class="examine-info" v-for="item in dataes">
                 <h3 class="examine-title" v-html="item.flowname"></h3>
                 <ul class="examine-node">
                  <li><span>流程编号：</span><span v-html="item.instanceid"></span></li>
                  <li><span>流程名称：</span><span v-html="item.processname"></span></li>
                  <li><span>发 起 人：</span><span v-html="item.starter"></span></li>
                  <li><span>发起时间：</span><span v-html="item.starttime"></span></li>
                 </ul>
              </div>  
            </div>
			<div class="agency-list" id="await">
				<h3 class="examine-item" v-on:click="showDemo($event)">更多信息<span v-bind="{class:showDiv?'fr more-open':'fr more-close'}"></span></h3>
				<div class="item-await examine-details" v-show="showDiv" style="display: none">
			   		<ul>
			      		<li class="clearfix" v-for="item in dataes">
			      			<div class="agency-right">
			            		<div class="right-box">
			           				<!-- <h3 class="agency-title">{{item.flowname}}</h3> -->
			           				<p class="follow-person">流程编号：<span class="fr">{{item.instanceid}}</span></p>
			           				<p class="follow-person">流程标题：<span class="fr" style="width:65%;text-align:right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{item.flowname}}</span></p>
			           				<p class="follow-person">流程名称：<span class="fr">{{item.processname}}</span></p>
			           				<p class="follow-person">当前审批节点名称：<span class="fr">{{item.nodename}}</span></p>
			           				<p class="follow-person">发起部门名称：<span class="fr">{{item.orgname}}</span></p>
			           				<p class="follow-person">发起人：<span class="fr">{{item.starter}}</span></p>
			           				<p class="follow-person">发起时间：<span class="fr">{{item.starttime}}</span></p>
			           			</div>
			           		</div>
			 
			      		</li>
			        </ul>
		    	</div>		
			</div>
			<p class="space"></p>
			<h3 class="examine-item" v-on:click="showNode($event)">历史审批记录<span v-bind="{class:showHis?'fr more-open':'fr more-close'}"></span></h3>
            <div id="history" v-show="showHis">
             	<ul class="examine-history">
                     <li class="history" v-for="(msg,ind) in histry">
                    	<h3 class="history-title">{{msg.nodename}}<i class="principal">{{msg.approveuser}}</i><span class="fr">{{msg.approvetime}}</span></h3>
                    	<div class="history-describe">
                      		{{msg.remark}}
                    	</div>
                    	<div class="history-enclosure">
                         	<ul>
                         		<li v-show="annex[ind][1] ? true : false ">
                         			<a :href="'http://10.72.8.130:7004'+annex[ind][1]" class="tems">
	                         			附件：{{annex[ind][0]}}
	                        		</a>
	                        	</li>
	                    	</ul>
                    	</div>
                  	</li>
                 </ul>		
            </div>
                 
            <div class="search-container">
       			<button v-for="val in await" v-on:click="submit()" class="search-button">{{val.name}}</button>
       		</div>
		</div>
		
		<div class="loading" v-show="loading"><img src="images/loading.gif" alt="loading..."/></div>
	</div>
	<script type="text/javascript" src="js/lib/vue.min.js"></script>
  	<script type="text/javascript" src="js/lib/vue-router.min.js"></script>
  	<script type="text/javascript" src="js/lib/axios.min.js"></script>
  	<script	type="text/javascript" src="js/home.js"></script>
  	<script	type="text/javascript" src="js/lib/cookies.js"></script>
  	<script type="text/javascript" src="js/lib/layer.js"></script>
  	<script type="text/javascript" src="js/lib/dropload.js"></script>
 	<script type="text/javascript">
 	var moreInfo = false;
 	var moreHis = false;
 	var vum=new Vue({
 		el:'#app',
 		data:{
			showDiv:false,
			showHis:true,
			loading:true,
			dataes:[],
			await:{},
			sub:[],
			datil:[],
			histry:[],
			annex:[],
			add:''
 		},
 		created:function(){
 			var _this=this;
 			var user=getCookie('userid')
 			var code=localurl('instance')
 			
 			var dropload = $("body").dropload({
			scrollArea : window,
			domUp : {
	            domClass   : 'dropload-up',
	            domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
	            domUpdate  : '<div class="dropload-update">↑释放更新</div>',
	            domLoad    : '<div class="dropload-load">加载中...</div>'
	        },
			loadUpFn : function(me){
				moreInfo = false;
			 	moreHis = false;
				axios.get("/workflow/getProcessInformation",{params:{userid:user,instanceid:code}}).then(function(response){
	 				_this.dataes=response.data;
	 				var instance=_this.dataes[0].instanceid;
	 				axios.get("/workflow/getHistoricalApproval",{params:{userid:user,start:0,limit:10000,instanceid:instance}}).then(function(response){
						_this.histry=response.data;
						moreInfo = true;
						moreHis = true;
		 				var arr=[];
		 				$.each(response.data,function(i){
		 					var str=((response.data[i].attach).slice(2,response.data[i].attach.length-2).replace('":"',','))
							var left = str.split(',')
							arr.push(left)
		 				})
		 				_this.annex=arr
						setTimeout(function(){
							me.resetload();
			                me.unlock();
	                        me.noData(false);
			            },1000);
					}).catch(function(error){
					    console.log(error);
					    me.resetload();
					});
				}).catch(function(error){
				    console.log(error);
				    me.resetload();
				});		
				
	        }
		});
 			dropload.lock('up');
			dropload.noData();
			dropload.resetload();
 			
 			axios.get("/workflow/getProcessInformation",{params:{userid:user,instanceid:code}}).then(function(response){
 				_this.dataes=response.data;
 				var instance=_this.dataes[0].instanceid;
 				axios.get("/workflow/getHistoricalApproval",{params:{userid:user,start:0,limit:10000,instanceid:instance}}).then(function(response){
					_this.histry=response.data;
					
	 				var arr=[];
	 				$.each(response.data,function(i){
	 					var str=((response.data[i].attach).slice(2,response.data[i].attach.length-2).replace('":"',','))
						var left = str.split(',')
						arr.push(left)
	 				})
	 				_this.annex=arr;
	 				_this.loading = false;
					moreInfo = true;
					moreHis = true;
					dropload.unlock('up');
					dropload.noData();
					dropload.resetload();
 				}).catch(function(error){
 				    console.log(error);
 				});
 			}).catch(function(error){
 			    console.log(error);
 			});	
 		},
 		computed:{
 			showHistory:function(){
 				var _this=this;
 			}
 		},
 		methods:{
 			showDemo:function(){
 				if(moreInfo){
 					this.showDiv=!this.showDiv;
 				}
 			},
 			showNode:function(){
 				if(moreHis){
 					this.showHis=!this.showHis;
 				}
 			}
 		}
 	})
 	</script>
</body>
</html>


